*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}
@font-face {
    font-family: "Logo";
    src: url('/assest/font/EduAUVICWANTHand-VariableFont_wght.ttf') format('truetype');
}
/* Color design */
:root{
    --primary: rgba(22, 22, 22);
    --primary1: rgba(235, 235, 235, 0.793);
    --primary2: rgba(104, 104, 104, 0.845);
    --green:rgb(118, 117, 116);
    --green1:rgb(17, 242, 156);
    --green2:rgb(4, 188, 117);
    --body : #dbdada;
    --green3: rgb(27, 188, 16);
}
.dark{
    --primary: rgb(51, 51, 51);
    --primary1: rgba(98, 158, 102, 0.793);
    --primary2: rgba(29, 29, 29, 0.845);
    --green:rgb(0, 221, 136);
    --green1:rgb(17, 242, 156);
    --green2:rgb(4, 188, 117);
    --green3: rgb(27, 188, 16);
    --body : #8ac18f;
}

body{
   background-color: var(--body);
   overflow-x : hidden;
}
/* Header start */
header{
    width: 100%;
    padding: 20px;
    position: fixed;
    background-color: var(--primary1);
    backdrop-filter: blur(5px);
    z-index: 99;
    border-bottom: 3px solid var(--primary2);
} 
.navbar{
    /* color: var(--primary2); */
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* position: fixed;
    z-index: 99; */
}
.nav-logo{
    color: var(--primary2);
    font-family: sans-serif;
    font-weight: 10;
    font-style: normal;
    letter-spacing: 3px;
    transform: translateX(-50px);
}
.nav-logo h1{
    font-size: 30px;
}
.nav-logo h1 span{
    font-size: 20px;
    /* letter-spacing: -4px; */
}
.nav{
    width: 400px;
    display: flex;
    justify-content: space-around;
}
.nav a{
    color: var(--primary2);
    font-size: 18px;
    transform: translateY(20px);
}
.nav a:hover{
    color: var(--green);
    opacity: 0.2;
}
.nav a:hover:not::content{
    opacity: 1;
}
.nav a::after{
    content: '';
    display: block;
    padding-bottom: 0.5rem ;
    border-bottom: 0.1rem solid var(--green);
    transform: scaleX(0);
    transition: 0.2s linear;
}
.nav a:hover::after{
    transform: scaleX(0.8);
}
.extra{
    display: none;
    /* display: flex; */
    flex-direction: column;
}
.extra span{
    margin: 3px;
    width: 25px;
    height: 2px;
    background-color: var(--primary2);
}
.extra:hover span{
    background-color: var(--green);
}
#menu{
    display: none;
}
/* Header end*/

/* Hero start */
.hero{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero main{
   width: 100%;
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.about main {
  display: flex;
  flex-direction: column;
}
.about main .first {
    display: flex;
}
.about #h1skills{
    color: var(--primary2);
    padding: 20px;
}
.left{
    /* border-left: 3px solid var(--green); */
   color: var(--primary2);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 5px;
   width: 400px;
   /* height: 200px; */
   padding-left: 20px;
   font-family: sans-serif;
}
.left h2{
    /* background-color: red; */
    color: var(--primary1);
    background-color: var(--primary);
    padding: 5px 20px;
    text-align: center;
    width: 120px;
    border-radius: 5px;
    
}
.left h1{
    margin-top: -5px;
    font-size: 45px;
}
.left span {
    display: flex;
    justify-content: start;
    gap: 10px;
    width: 100%;
    padding: 10px 0;
    /* background-color: red; */
}
.left a{
    width: 150px;
    padding: 15px;
    background-color: var(--primary);
    text-align: center;
    color: #fff;
    transition: 0.2s;
    border-radius: 10px;
    /* opacity: 0; */
}
.left span a:hover {
  background-color: transparent;
  outline: 2px solid var(--primary);
  color: var(--primary);
  transform: translateX(5px) rotate(3deg) scale(1.05);
}

.right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    border-radius: 48%;
    background-color: var(--primary);
    box-shadow: 5px 5px 5px var(--primary);
    /* overflow: hidden; */
    position: relative;
    z-index: -1;
}

    .skills {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 20px;
      max-width: 100%;
      width: 100%;
      padding: 20px;
    }

    .card {
      background: rgb(55, 55, 55);
      border-radius: 15px;
      padding: 30px;
      box-shadow: 0 5px 15px rgba(0,0,0,0.05);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      color: #d5d5d5;
    }

    .card:hover {
      transform: translateY(-5px) scale(1.03);
      box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    }

    .card-header {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 12px;
    }

    .card-header img {
      width: 32px;
      height: 32px;
      object-fit: contain;
    }

    .title {
      font-weight: bold;
      font-size: 16px;
    }

    .level {
      font-size: 12px;
      font-weight: bold;
      margin-top: 2px;
    }

    /* Tag */
    .tags {
      display: flex;
      gap: 6px;
      margin-top: 12px;
      flex-wrap: wrap;
    }

    .tag {
      font-size: 12px;
      font-weight: bold;
      padding: 4px 10px;
      border-radius: 10px;
      color: #fff;
    }

    .frontend { background: #e63ec0; }
    .backend  { background: #3a97f7; }
    .tools    { background: #12c48b; }

    .exp {
      font-size: 12px;
      background: #eee;
      padding: 4px 10px;
      border-radius: 10px;
      color: #555;
    }

.profile {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      border-radius: 50%;
      padding: 5px;
    }

    .profile img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 5px solid white;
      object-fit: cover;
    }

    .bubble {
      position: absolute;
      background: white;
      padding: 6px 14px;
      border-radius: 20px;
      font-size: 14px;
      font-weight: 600;
      box-shadow: 0 4px 12px rgba(0,0,0,0.15);
      display: flex;
      align-items: center;
      gap: 6px;
    }
.pict {
  width: 40px;
  height: 20px;
  position: absolute;
}

/* posisi bubble */
.react   { top: -20px; left: 40%; transform: translateX(-50%); animation: topBot 3s ease-in-out infinite;}
.js      { top: 20%; left: -40px; transform: translateY(-50%); animation: bounce 1s infinite;}
.tsp      { top: 10%; right: -35px; animation: bounce 1s infinite;}
.tailwind{ bottom: 10%; right: 90%; animation: topBot 3s ease-in-out infinite;}
.next    { bottom: -25px; left: 60%; transform: translateX(-50%); animation: topBot 3s ease-in-out infinite;}


/* Animasi bounce */
@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  30%      { transform: translateY(-15px); }
  50%      { transform: translateY(-12); }
  70%      { transform: translateY(-10px); }
}

/* Animasi topBot */
@keyframes topBot {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-15px); }
  100% { transform: translateY(0); }
}


    
    /* warna khusus */
    .react { background: #fff; color: #333; }
    .ts { background: #007acc; color: #fff; }
    .js { background: #f7df1e; color: #000; }
    .tailwind { background: #38bdf8; color: #fff; }
    .next { background: #000; color: #fff; }

/* Hero end */

/* About start */
.about{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: sans-serif;
}
.about main .aleft{
    width: 600px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
}
.about main .aleft img{
    width: 400px;
    border-radius: 50px;
    box-shadow: 5px 5px 5px var(--primary2);
}
.about main .aright{
    color: var(--primary2);
    width: 600px;
    font-size: 20px;
    /* background-color: red; */
}
.about h1{
    font-size: 40px;
    padding: 10px;
}
.about main p{
    text-align: center;
}
.about main .first .aright p{
    text-align: start;
}
/* About end */


/* Media Queries */
@media (max-width: 600px) {
    /* Header start */
    .nav-logo h1{
        font-size: 20px;
        padding: 10px;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
    }
    .nav {
        width: 200px;
        display: flex;
        /* justify-content: center; */
        align-items: center;
        flex-direction: column;
        left: -150px;
        top: 90px;
        position: absolute;
        height: 300px;
        transition: 0.7s;
        overflow-y: hidden;
        opacity: 0;
        z-index: -5;
        backdrop-filter: blur(10px);
    }
    .extra{
        display: flex;
        /* transform: translateY(-20px); */
    }
    .nav.active{
       left: 0;
       opacity: 1;
       background-color: var(--primary1);
    }
    #menu{
        color: var(--primary2);
    }
    #menu:hover{
        color: var(--primary2);
    }
    /* Header end */
    
    /* Hero start */
    .hero main{
        margin-left: 50px ;
        flex-direction: column-reverse;
        /* justify-content: center; */
        gap: 80px;
    }
    .left{
        border-left: none;
        
    }
    .hero main .left h1{
        font-size: 35px;
    }
    /* .hero main .right{
        width: 200px;
        height: 200px;
        position: relative;
    } */
    .right {

    }
    /*Hero end */

    
    /* About start */
    .about main{
        flex-direction: column;
        margin-left: 50px ;
        /* background-color: red; */
    }
    .about main .first {
        flex-direction: column;
    }
    .about main .aleft img{
        width: 350px;
    }
    .about main .aleft{
        margin: 0 auto;
    }
    .about main .aright{
        max-width: 450px;
        margin: 0 auto;
        padding: 0 10px;
    }
    .about main .aright p{
        font-size: 20px;
    }
    /* About end */

@media  (max-width:900px){
    .nav-logo{
        font-size: 18px;
    }
    .nav a{
        font-size: 18px;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
    }
    .nav {
        /* background-color: aqua; */
        width: 200px;
        display: flex;
        /* justify-content: center; */
        align-items: center;
        flex-direction: column;
        left: -150px;
        top: 90px;
        position: absolute;
        height: 300px;
        transition: 0.7s;
        overflow-y: hidden;
        opacity: 0;
        z-index: -5;
    }
    .nav.active{
        left: 0;
        opacity: 1;
        background-color: var(--primary1);
    }
    /* .extra{
        display: block;
    } */
    #menu{
        color: var(--green);
    }
    #menu:hover{
        color: var(--primary2);
    }
    .hero main{
        /* flex-direction: column; */
        /* justify-content: center; */
        padding: 20px;
    }
    .left h4{
        font-size: 15px;
    }
    .left h1{
        font-size: 30px;
    }
    .left h2{
        font-size: 15px;
    }

}
}